.gradle/
.idea/
build/
local.properties
target/
tmp/
picocli.iml
/out/
/picocli-*/out/
/src/test/dejagnu.tests/xtrace.log
/src/test/dejagnu.tests/log/completion.sum
/src/test/dejagnu.tests/log/completion.log
/src/test/dejagnu.tests/completion.log
/src/test/dejagnu.tests/completion.sum
/src/test/dejagnu.tests/testrun.log
/src/test/dejagnu.tests/testrun.sum
/src/test/dejagnu.tests/tmp/
/picocli-tests-java567/gradle/wrapper/dists/**/*.lck
/picocli-tests-java567/gradle/wrapper/dists/**/*.ok
