.hidden {
    display: none;
}

div.tab-content { background-color: #f8f8f8; padding-bottom: 0.25em !important }
div.tab-pane { margin-left: 1.5em; }

.ul.nav {
    margin-left: 0em;
}

a.nav-link {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #7a2518;
    color: #7a2518;
    display: inline-block;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

a.nav-link.active.show {
    background-color: #7a2519;
    color: #ffffff;
}