name: Build
on: [ push, pull_request ]
permissions:
  checks: write
  pull-requests: write
  
jobs:
  build-java-8-plus:
    strategy:
      matrix:
        java-version: [ 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18 ]
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.os == 'macos-latest' || matrix.java-version == '9' || matrix.java-version == '10' || matrix.java-version == '12' || matrix.java-version == '13' || matrix.java-version == '14' || matrix.java-version == '15' || matrix.java-version == '16' }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@18bf8ad2ca49c14cbb28b91346d626ccfb00c518 # v1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v2

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@55e685c48d84285a5b0418cd094606e199cca3b6 # v1

      - name: Configure JDK ${{ matrix.java-version }}
        uses: actions/setup-java@1df8dbefe2a8cbc99770194893dd902763bee34b # v2
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java-version }}
          cache: gradle

      - name: Show Gradle Version
        run: ./gradlew --version

      - name: ShowToolChains
        run: ./gradlew -q javaToolchains

      - name: Build
        run: ./gradlew build --no-daemon
        
      - name: Publish Test Results (Linux)
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: ${{ always() && matrix.os == 'ubuntu-latest' }}
        with:
          junit_files: |
            build/test-results/test/**/*.xml
            picocli-*/build/test-results/test/**/*.xml
        
      - name: Publish Test Results (Win/Mac)
        uses: EnricoMi/publish-unit-test-result-action/composite@v2
        if: ${{ always() && (matrix.os == 'macos-latest' || matrix.os == 'windows-latest') }}
        with:
          junit_files: |
            build/test-results/test/**/*.xml
            picocli-*/build/test-results/test/**/*.xml
        

  build-java-6-7:
    strategy:
      matrix:
        java-version: [ 6, 7 ]
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@18bf8ad2ca49c14cbb28b91346d626ccfb00c518 # v1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v2

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@55e685c48d84285a5b0418cd094606e199cca3b6 # v1

      - name: Configure JDK ${{ matrix.java-version }}
        uses: actions/setup-java@1df8dbefe2a8cbc99770194893dd902763bee34b # v2
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java-version }}
          cache: gradle

      - name: Build
        uses: gradle/gradle-build-action@3fbe033aaae657f011f88f29be9e65ed26bd29ef # v2
        with:
          gradle-version: 1.12
          build-root-directory: picocli-legacy-tests/
          arguments: clean build --no-daemon
