name: Build
on: [ push, pull_request ]
permissions: read-all

jobs:
  build-java-8-plus:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.skippable }}
    strategy:
      matrix:
        java-version: [ 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18 ]
        os: [ubuntu-latest, macos-latest, windows-latest]
        skippable: [false]
        include:
          - os: macos-latest
            skippable: true
          - java-version: 9
            skippable: true
          - java-version: 10
            skippable: true
          - java-version: 12
            skippable: true
          - java-version: 13
            skippable: true
          - java-version: 14
            skippable: true
          - java-version: 15
            skippable: true
          - java-version: 16
            skippable: true
          - java-version: 18
            skippable: true

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@2e205a28d0e1da00c5f53b161f4067b052c61f34 # v1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v2

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@55e685c48d84285a5b0418cd094606e199cca3b6 # v1

      - name: Configure JDK ${{ matrix.java-version }}
        uses: actions/setup-java@de1bb2b0c5634f0fc4438d7aa9944e68f9bf86cc # v2
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java-version }}
          cache: gradle

      - name: Show Gradle Version
        run: ./gradlew --version

      - name: ShowToolChains
        run: ./gradlew -q javaToolchains

      - name: Build
        run: ./gradlew build --no-daemon

  build-java-6-7:
    strategy:
      matrix:
        java-version: [ 6, 7 ]
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@2e205a28d0e1da00c5f53b161f4067b052c61f34 # v1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v2

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@55e685c48d84285a5b0418cd094606e199cca3b6 # v1

      - name: Configure JDK ${{ matrix.java-version }}
        uses: actions/setup-java@de1bb2b0c5634f0fc4438d7aa9944e68f9bf86cc # v2
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java-version }}
          cache: gradle

      - name: Build
        uses: gradle/gradle-build-action@3fbe033aaae657f011f88f29be9e65ed26bd29ef # v2
        with:
          gradle-version: 1.12
          build-root-directory: picocli-legacy-tests/
          arguments: clean build --no-daemon
